In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('KaggleV2-May-2016.csv')

In [3]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [4]:
df.shape

(110527, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

# Check Missing Value

In [6]:
print("\n Missing Values:")
df.isnull().sum()

 Missing Values:

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

# Check Duplicate Value

In [7]:
print("\n Duplicate Rows:")
df.duplicated().sum()

 Duplicate Rows:

0

In [8]:
print("\n Unique Gender Values:")
df['Gender'].unique()

 Unique Gender Values:

array(['F', 'M'], dtype=object)

In [9]:
print("\n Column Names:")
df.columns

 Column Names:

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [10]:
print("\n Data Types:")
print(df.dtypes)

 Data Types:
PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
No-show            object
dtype: object

# Convert to datetime

In [11]:
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'], errors='coerce')
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'], errors='coerce')

# Add day names

In [12]:
df['scheduled_day_name'] = df['ScheduledDay'].dt.day_name()
df['appointment_day_name'] = df['AppointmentDay'].dt.day_name()

# Add date in dd-mm-yyyy format

In [13]:
df['scheduled_date_str'] = df['ScheduledDay'].dt.strftime('%d-%m-%Y')
df['appointment_date_str'] = df['AppointmentDay'].dt.strftime('%d-%m-%Y')

In [14]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,scheduled_day_name,appointment_day_name,scheduled_date_str,appointment_date_str
0,2.987250e+13,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Friday,Friday,29-04-2016,29-04-2016
1,5.589978e+14,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Friday,Friday,29-04-2016,29-04-2016
2,4.262962e+12,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,No,Friday,Friday,29-04-2016,29-04-2016
3,8.679512e+11,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Friday,Friday,29-04-2016,29-04-2016
4,8.841186e+12,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Friday,Friday,29-04-2016,29-04-2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,MARIA ORTIZ,0,0,0,0,0,1,No,Tuesday,Tuesday,03-05-2016,07-06-2016
110523,3.596266e+12,5650093,F,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,MARIA ORTIZ,0,0,0,0,0,1,No,Tuesday,Tuesday,03-05-2016,07-06-2016
110524,1.557663e+13,5630692,F,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,MARIA ORTIZ,0,0,0,0,0,1,No,Wednesday,Tuesday,27-04-2016,07-06-2016
110525,9.213493e+13,5630323,F,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,MARIA ORTIZ,0,0,0,0,0,1,No,Wednesday,Tuesday,27-04-2016,07-06-2016
110526,3.775115e+14,5629448,F,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,MARIA ORTIZ,0,0,0,0,0,1,No,Wednesday,Tuesday,27-04-2016,07-06-2016

# Check Data Type

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   PatientId             110527 non-null  float64
 1   AppointmentID         110527 non-null  int64
 2   Gender                110527 non-null  object
 3   ScheduledDay          110527 non-null  datetime64[ns, UTC]
 4   AppointmentDay        110527 non-null  datetime64[ns, UTC]
 5   Age                   110527 non-null  int64
 6   Neighbourhood         110527 non-null  object
 7   Scholarship           110527 non-null  int64
 8   Hipertension          110527 non-null  int64
 9   Diabetes              110527 non-null  int64
 10  Alcoholism            110527 non-null  int64
 11  Handcap               110527 non-null  int64
 12  SMS_received          110527 non-null  int64
 13  No-show               110527 non-null  object
 14  scheduled_day_name    110527 non-null  object
 15  appointment_day_name  110527 non-null  object
 16  scheduled_date_str    110527 non-null  object
 17  appointment_date_str  110527 non-null  object
dtypes: datetime64[ns, UTC](2), float64(1), int64(8), object(7)
memory usage: 15.2+ MB

# Rename column headers to be clean and uniform(e.g., lowercase, no spaces).

In [16]:
df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_")

In [17]:
df.columns

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no-show',
       'scheduled_day_name', 'appointment_day_name', 'scheduled_date_str',
       'appointment_date_str'],
      dtype='object')

# Check Age Data Type

In [19]:
print(df['age'].dtype)

int64